
<footer>
  <div class="container border-top mt-5   ">
    <div class="row mt-5">
      <h2 class="mb-3"> Inspiration for future getways</h2>
     <hr>
      <div class="col f-info-links">
        <a  href="/listings/foterpage"> <p> <b> Phoenix </b> <br>
          Flat rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Marbella </b> <br>
          Cottage rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Prescott</b> <br>
         House rentals</a></p>
        <br/>
      </div>
      <div class="col f-info-links"  >
        <a  href="/listings/foterpage"> <p> <b>Beach </b> <br>
          Flat rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Los Angeles</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Prague</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col  f-info-links  ">
        <a  href="/listings/foterpage"> <p> <b> Banff </b> <br>
          Chalet rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Greer</b> <br>
         Cabin rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Lake Powel</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col f-info-links   ">
        <a  href="/listings/iconPage"> <p> <b> Sedona </b> <br>
          Villa rentals</a></p>
        <br />
        <a  href="/listings/iconPage"> <p> <b> Pine Mountain</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/iconPage"> <p> <b> Island Park</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col f-info-links   ">
        <a  href="/listings/random"> <p> <b> Dauphin Island </b> <br>
          Cabin rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Gulf Shores</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/foterpage"> <p> <b> Hamilton Island</b> <br>
         House rentals</a></p>
        <br />
      </div>
    </div>
  </div>
    <div class="container border-top mt-5   ">
      <div class="row mt-5">
        <div class="col">
           <a href="/listings/home"> <i class="fa-solid fa-compass ms-3 mb-3"></i></a>
          <p>
            &copy;  2024,  Accomo made by US. All rights reserved.
          </p>
            <div class="f-info-links ">
               <a href="#" ><i class="fa-brands fa-square-facebook ms-3 fs-4 me-1 "></i></a>
               <a href=" https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr ">
                 <i class="fa-brands fa-square-instagram  fs-4 me-1"></i></a>
               <a href="https://www.linkedin.com/in/ayush-kumar-prince-443700235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " >
                <i class="fa-brands fa-linkedin fs-4 "></i></a>
    
            </div>
        </div>
        <div class="col f-info-links"  >
          <p> <b> Company </b></p>
          <a  href="/listings/foterpage">Airbnb your home</a>
          <br />
          <a href="/listings/foterpage" >Newsroom</a>
          <br />
          <a href="/listings/foterpage">Pricing</a>
          <br />
          <a href="/listings/foterpage">Referral programme</a>
          <br />
          <a href="/listings/foterpage">Careers</a>
          <br />
          <a href="/listings/foterpage">Press & media</a>
          <br />
          <a href="/listings/foterpage">Join a free Hosting class</a>
          <br>
        </div>
        <div class="col  f-info-links  ">
          <p> <b>Support </b></p>
          <a href="/listings/foterpage">Help Centre</a>
          <br />
          <a href="/listings/foterpage">AirCover</a>
          <br />
          <a href="/listings/foterpage">Anti-discrimination</a>
          <br />
          <a href="/listings/foterpage">Disability support</a>
          <br />
          <a href="/listings/foterpage">Cancellation options</a>
          
        </div>
        <div class="col f-info-links ">
          <p> <b>Hosting</b></p>
          <a href="/listings/foterpage">Open an account</a>
          <br />
          <a href="/listings/foterpage">Community forum</a>
          <br />
          <a href="/listings/foterpage">Hosting responsibly</a>
          
        </div>
      </div>
    </div>
  </div>
</footer>

  <footer>
    <div class="f-info mt-5">
        <div class="f-info-socials">
           <a href="#" ><i class="fa-brands fa-square-facebook"></i></a>
           <a href=" https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href=" https://www.linkedin.com/in/ayush-kumar-prince-443700235?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " ><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand"><b> &copy 2024  ACCOMO private Limited Made By Sonam and Team </b></div>
        <div class="f-info-links">
            <a href="/listings/foterpage"> <b>Privacy </b></a>
        </div>
      </div >
</footer>

