<% layout("/layouts/boilerplate") -%>

<div class="container border-bottom mb-5 navbar-expand-md ">
  <div class="text-center mt-5 p-3">
    <p> RESIDE MAGAZINE </p>
    <h1>Exceptional Locations,<br>Unrivaled Lifestyles. </h1>
    <p class="text-muted mt-3 fs-4  ">
      Conceived in the belief that home and living in full are inextricably entwined,<br> RESIDE® is the Accomo
       International Realty brand’s magazine devoted to the <br>finest in inspirational locales and lifestyles.
    </p>
    <p class="mt-3 mb-5">
      <a href="/listings" >
        Explore More
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </p>
  </div>
</div>
 <!--Services  -->
 <div class="container border-bottom mb-5">
  <div class="text-center mt-5 p-3">
    <h1>Our Services</h1>
    <h3 class="text-muted mt-3 fs-4">
      Sleek, modern and intuitive Accomo platforms
      </h3>
     <p className="mt-3 mb-5">
      Check out
      <a href="/listings/iconPage" >
        we  offerings
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </p>
  </div>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <img src="/media/service-2.png " 
       alt="Service icon"
       >
      <h3 class="h3 card-title">
          <a href="/signup">Buy a home</a>
        </h3>
        <p class="card-text">
          over 1 million+ homes for sale available on the website, we can match you with a house you will want
          to call home.
        </p>
    </div>
    <div class="col">
      <img src="/media/service-2.png" alt="Service icon">
      <h3 class="h3 card-title">
          <a href="/signup">Host a home</a>
        </h3>
        <p class="card-text">
          over 1 million+ homes for sale available on the website, we can match you with a house you will want
          to call home.
        </p>
    </div>
    <div class="col">
      <img src="/media/service-3.png" alt="Service icon">
      <h3 class="h3 card-title">
          <a href="/signup">Sell a home</a>
        </h3>
        <p class="card-text">
          over 1 million+ homes for sale available on the website, we can match you with a house you will want
          to call home.
        </p>
    </div>
  </div>
</div>
 </div>

<div class="container">
    <div class="row p-5 mt-5 mb-5 align-items-start ">
      <h1 class="fs-2 text-center">
        Our Accomo Provide the Various facility
        <br />
        Now, we are Hosting a property.
      </h1>
    </div>
    <div
      class="row p-5  text-muted"
      style="line-height: 1.8;  font-size: 1.2rem; " >
      <div class="col p-5 text-center  ">
        <p>
          <p><strong style="color: brown;">Our Accomo</strong> is coined from the word Learn in Vernacular Languages - 
              2+ million  clients contribute to over 15% of all retail
            order volumes in India.<br>
             Only one network of agents represents the longest standing tastemaker in the world. 
             In the spirit of innovation, an exceptional luxury real estate company bearing the<b>Accomo Property HUB  </b>
               name was launched in <b >2024.</b><br>
        </p> 
      </div>
      <div class="col p-5 text-center ">
        <p>
          In addition, we run a number of popular open online educational and
          community initiatives to empower retail places.
        </p>
        <p>
          <a href="" style="text-decoration: none;">
            Rainmatter
          </a>
          , our fintech fund and incubator, has invested in several fintech
          startups with the goal of growing the Indian.
        </p>
       
      </div>
    </div>
  </div>

<div class="container">
  <h1 class="fs-2 text-center">People</h1>
  <div
    class="row p-5  text-muted"
    style="line-height: 1.8;  font-size: 1.2rem; " >
    <div class="col p-5 text-center  ">
      <img src="/media/sonam.jpeg" class="rounded-3 border-5" height="300px"
      width="300px">
      <p></p>
      <p><b>Sonam Kumari</b> <br> Founder , CEO</p>
    </div>
    <div class="col p-5 text-center ">
      <p>
        I'm proud to say that my team and I successfully designed and developed a website similar to Airbnb,
         a popular online marketplace for short-term vacation rentals. Our website offers a user-friendly interface,
         allowing users to easily search and book unique accommodations, including apartments, houses, and villas.
          <br> Today, ACCOMMO has changed the landscape of the Indian accomo HUB.
      </p>
      <p>We are college student Pursuing bachelor degree in computer science 
         Enginnering.
      </p>
      <p>
        Connect on   <a href="https://www.linkedin.com/in/ask-sonam-kumari/">
           &nbsp; <i class="fa-brands fa-linkedin text-danger"></i></a>&nbsp; / <a href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr">
          <i class="fab fa-twitter text-danger"></i></a>/&nbsp;<a href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr">
            <i class="fab fa-instagram text-danger"></i></a>
      </p>
     
    </div>
  </div>
</div>
        <!-- Team Start -->
        <div class="container-xl py-5">
          <div class="container">
              <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                  <h1 class="mb-3">Our Team</h1>
                  <p>
                    "Meet our team of 5 full stack developers, dedicated to delivering high-quality web applications.<br>
                    
                    Together, we work collaboratively to design, develop, and deploy scalable and efficient 
                    web applications that meet our clients' needs."
                    </p>
              </div>
              <div class="row g-4">
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="team-item rounded overflow-hidden">
                          <div class="position-relative">
                              <img class="img-fluid" src="/media/ay.jpeg" 
                              style="height: 18rem; width: 100%;"
                              alt="">
                              <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                  <a class="btn btn-square mx-1" href="https://www.snapchat.com/add/sikriwaljii0034?share_id=DBJGtnqj6e4&locale=en-IN"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-square mx-1" href=" https://x.com/Akprince0034?t=U-sdhdGkQlWhYpWe2Of6cA&s=08"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-square mx-1" href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                          <div class="text-center p-4 mt-3">
                              <h5 class="fw-bold mb-0">Ayush kr.prince</h5>
                              <small>Student</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="team-item rounded overflow-hidden">
                          <div class="position-relative">
                              <img class="img-fluid" src="/media/su.jpeg"
                              style="height: 18rem; width: 100%"
                              alt="">
                              <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                  <a class="btn btn-square mx-1" href="https://www.snapchat.com/add/sikriwaljii0034?share_id=DBJGtnqj6e4&locale=en-IN"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-square mx-1" href=" https://x.com/Akprince0034?t=U-sdhdGkQlWhYpWe2Of6cA&s=08"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-square mx-1" href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                          <div class="text-center p-4 mt-3">
                              <h5 class="fw-bold mb-0"> Suraj Kumar</h5>
                              <small>Student</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="team-item rounded overflow-hidden">
                          <div class="position-relative">
                              <img class="img-fluid" src="/media/shi.jpeg"
                              style="height: 18rem; width: 100%;"
                              alt="">
                              <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                  <a class="btn btn-square mx-1" href="https://www.snapchat.com/add/sikriwaljii0034?share_id=DBJGtnqj6e4&locale=en-IN"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-square mx-1" href=" https://x.com/Akprince0034?t=U-sdhdGkQlWhYpWe2Of6cA&s=08"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-square mx-1" href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                          <div class="text-center p-4 mt-3">
                              <h5 class="fw-bold mb-0">Shivam Kumar</h5>
                              <small>Student</small>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                      <div class="team-item rounded overflow-hidden">
                          <div class="position-relative">
                              <img class="img-fluid" src="/media/sha.jpeg"
                              style="height: 18rem; width: 100%;"
                              alt="">
                              <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                  <a class="btn btn-square mx-1" href="https://www.snapchat.com/add/sikriwaljii0034?share_id=DBJGtnqj6e4&locale=en-IN"><i class="fab fa-facebook-f"></i></a>
                                  <a class="btn btn-square mx-1" href=" https://x.com/Akprince0034?t=U-sdhdGkQlWhYpWe2Of6cA&s=08"><i class="fab fa-twitter"></i></a>
                                  <a class="btn btn-square mx-1" href="https://www.instagram.com/half_engineer0034?igsh=ajhjamszcm9lbTFr"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                          <div class="text-center p-4 mt-3">
                              <h5 class="fw-bold mb-0">Saurav Kumar</h5>
                              <small>Student</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Team End -->
  <!-- Trust -->
  <div class="container p-3">
    <div class="row p-5 align-items-start ">
      <div class="col p-5">
        <h1 class="fs-2 mb-5" >Trust with confidence</h1>
        <h2 class="fs-4">Customer-first always</h2>
        <p class="text-muted">
          <strong style="color: brown;">My Accomo</strong> is coined from the word Learn 
          in Vernacular Languages <br>  2+ million  clients contribute to over 15% of all retail
          order volumes in India.<br>
        </p>
        <h2 class="fs-4">Who are we</h2>
        <p class="text-muted">
          Only one network of agents represents the longest standing tastemaker in the world. 
           In the spirit of innovation, an exceptional luxury real estate company bearing the<b>Accomo Property HUB  </b>  
           name was launched in <b >2024.</b><br>
        </p>
      </div>
      <div class="col p-5">
        <img src="https://www.learnvern.com/images/new-home-assets/about-mock-desktop.png" style="width: 90%;" />
        <div class="text-center">
          <a href="/listings"  style="text-decoration: none;">
            Explore our Places
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  