<% layout("/layouts/boilerplate") -%>

      
<div class="container py-5 mt-5 ">
  <div class="container ">
      <h2 class="mb-3"> <b>Top-rated cabin rentals in Sonoma </b></h2>
      <p class="text-muted"> Guests agree: these cabins are highly rated for location, cleanliness and more.
      </p>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="team-item rounded  overflow-hidden ">
              <div class="position-relative">
                <a href="/listings/stay" >
                  <img src="https://a0.muscache.com/im/pictures/9f154d05-b3e1-4b21-b35f-e0dd2c49e7ad.jpg?im_w=320"
                  class="card-img-top"
                  style="height: 18rem "
                  alt="...">
                  <div class="text-overlay">Guest's favorite</div>
                 <div class="card-body">
                   <h5 class="card-title mt-3 text-dark mb-2">Home in Alexandria</h5>
                   <p class="card-text text-muted">
                    
                    Spacious, 3-level semidetached single-family home with a cozy living room, three bedrooms on the second floor,
                     a large finished
                      we have collected from around the world...</p></a>
                 </div>
               </div>
        </div>
    </div>
        <div class="col-lg-3 col-md-6">
            <div class="team-item rounded  ">
                <div class="position-relative">
                  <a href="/listings/stay" >
                    <img src="https://a0.muscache.com/im/pictures/d6ce61b5-87e5-4f45-b54d-42f2f7ef9a55.jpg?im_w=1440"
                    class="card-img-top"
                    style="height: 18rem "
                    alt="...">
                    <div class="text-overlay">Guest's favorite</div>
                   <div class="card-body">
                     <h5 class="card-title mt-3 text-dark mb-2">Rental unit in Springfield</h5>
                     <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                       Truly a one of kind handmade, solar powered home of local materials filled 
                        we have collected from around the world...</p></a>
                   </div>
                 </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 ">
          <div class="team-item rounded ">
              <div class="position-relative">
                <a href="/listings/stay" >
                  <img src="https://a0.muscache.com/im/pictures/d2a45576-8504-4785-b00f-537693e3c1b9.jpg?im_w=720&im_format=avif"
                  class="card-img-top"
                  style="height: 18rem "
                  alt="...">
                  <div class="text-overlay">Guest's favorite</div>
                 <div class="card-body">
                   <h5 class="card-title mt-3 text-dark mb-2">Townhouse in Alexandria</h5>
                   <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                     Truly a one of kind handmade, solar powered home of local materials filled 
                      we have collected from around the world...</p></a>
                 </div>
               </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="team-item rounded ">
            <div class="position-relative">
              <a href="/listings/stay" ><img src="https://a0.muscache.com/im/pictures/3d3a78ea-0c31-47c4-8406-c870d9bcb93e.jpg?im_w=320"
                class="card-img-top"
                style="height: 18rem "
                alt="...">
                <div class="text-overlay">Guest's favorite</div>
               <div class="card-body">
                 <h5 class="card-title mt-3  mb-3">Cottage in old town</h5>
                 <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                   Truly a one of kind handmade, solar powered home of local materials filled 
                    we have collected from around the world...</p></a>
               </div>
             </div>
      </div>
      </div>
      <div class="card" style="width: 20rem; ">
       <a href="/listings/stay" ><img src="https://a0.muscache.com/im/pictures/3170728/40c10a7d_original.jpg?im_w=1200"
         class="card-img-top"
         style="height: 18rem "
         alt="...">
         <div class="text-overlay">Guest's favorite</div>
        <div class="card-body">
          <h5 class="card-title mt-3 text-dark">Home in Del Ray</h5>
          <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
            Truly a one of kind handmade, solar powered home of local materials filled 
             we have collected from around the world...</p></a>
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <a href="/listings/stay" ><img src="https://a0.muscache.com/im/pictures/19729937/69e88cee_original.jpg?im_w=1200"
         class="card-img-top"
         style="height: 18rem "
          alt="...">
          <div class="text-overlay">Guest's favorite</div>
        <div class="card-body">
          <h5 class="card-title mt-3">Rental unit in Springfield</h5>
          <p class="card-text text-muted">Large Stylish Suite on Private
            Newly upgraded Private bsmnt Suite situated on 1.5 Beautiful 
            Close to Everything! Huge Living Area, Full Kitchen w/ Granite Counter Tops, Upgraded..
          </p></a>
        
        </div>
      </div>
      <div class="card" style="width: 19rem; ">
        <a href="/listings/stay" > <img src="https://a0.muscache.com/im/pictures/8f36ec87-8647-4034-af19-ad8ba00a73bc.jpg?im_w=720"
         class="card-img-top "
         style="height: 18rem "
         alt="...">
           <div class="text-overlay">Guest's favorite</div>
        <div class="card-body">
          <h5 class="card-title mt-3 ">Cottage in Old Town</h5>
          <p class="card-text text-muted">
            UNIQUE OLD TOWN CHARM COTTAGE IN THE MIDDLE OF BEAUTIFUL HISTORIC TOWN ALEXANDRIA. You are only a half block off King street where every..
          </p></a>
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <a href="/listings/stay" > <img src="https://a0.muscache.com/im/pictures/0764d786-b4bd-4da1-96ba-b10b867f1300.jpg?im_w=320" 
        class="card-img-top"
        style="height: 18rem "
        alt="...">
        <div class="text-overlay">Guest's favorite</div>
        <div class="card-body">
          <h5 class="card-title mt-3">Home in Del Ray</h5>
          <p class="card-text text-muted">The Heart of Del Ray
            Enjoy the best of old and new! Separate apartment in a fully renovated 1920 American Foursquare 
            located in the eclectic Del Ray neighborhood of Alexandria...
          </p></a>
        </div>
      </div>

      <h2 ><b>Holiday rentals for every style </b></h2>
      <p class="text-muted">Get the amount of space that is right for you</p>
      <div class="card ms-4" style="width: 25rem;">
        <a href="/listings/stay" >  <img src="https://a0.muscache.com/im/pictures/3b638d62-baa9-4bea-ba33-58c5ca4bbccb.jpg?im_w=480" 
        class="card-img-top "
        style="height: 20rem "
        alt="...">
         <div class="card-body">
          <h4 class="card-title text-dark">Flats</h4>
          <p class="text-muted">Convenient locations with everyday essentials</p>
          </p></a>
        </div>
      </div>
      <div class="card ms-4" style="width: 25rem;">
        <img src="https://a0.muscache.com/im/pictures/a17609e2-d762-4365-a313-62e619e59872.jpg?im_w=480" 
        class="card-img-top"
        style="height: 20rem "
        alt="...">
        <div class="card-body">
          <h4 class="card-title">Houses</h4>
          <p class="text-muted">A space that's all yours, with room for everyone</p></a>
          </p>
        </div>
      </div>
      <div class="card ms-4 " style="width: 25rem;">
        <img src="https://a0.muscache.com/im/pictures/f20dbdb1-05b5-4f01-97ba-b113edc20795.jpg?im_w=480" 
        class="card-img-top"
        style="height: 20rem "
        alt="...">
        <div class="card-body">
          <h4 class="card-title">Hotels</h4>
          <p class="text-muted">Stylish accommodation and amenities</p></a>
          </p>
        </div>
      </div>
      </div>
  </div>

  <h2 class="mt-5"> <b>Stay near Alexandria's top sights </b></h2>
  <div class="container text-center mt-5">
    <div class="row align-items-start">
      <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
        <h5>Old Town</h5>
        <p class="text-muted">399 Locals recommendend</p>
      </div>
      <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
        <h5>Old Towns Alexandria Waterfront</h5>
        <p class="text-muted">84 Locals recommendend</p>
      </div>
      <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
        <h5>Village at Shirilington</h5>
        <p class="text-muted">84 Locals recommendend</p>
      </div>
    </div>
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
          <h5>The Brichmere</h5>
          <p class="text-muted">90 Locals recommendend</p>
        </div>
        <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
          <h5>Whole Foods Market</h5>
          <p class="text-muted">24 Locals recommendend</p>
        </div>
        <div class="col border border-top-0 ms-4 shadow-sm p-3 mb-5 bg-body-white rounded-3">
          <h5>Waterfront Park</h5>
          <p class="text-muted">69 Locals recommendend</p>
        </div>
      </div>
    </div>
  </div>
  
  
       
    <div class="row container  mt-5" >
      <div class="col-md-4 py-3 py-md-0">
          <div class="card" id="tpc">
            <img src="https://a0.muscache.com/im/pictures/miso/Hosting-13670780/original/498152a1-95dc-4d4f-9923-5039cabc775b.jpeg?im_w=320"
               alt=""
               style="height: 20rem "
                class="card image-top">
                <div class="text-overlay">Superhost</div>
              <h6> <b>Cabin in Monte Rio  </b></h6>
              <p>
                Charming Cabin in the Redwoods</p>
          </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
          <div class="card" id="tpc">
             <img src="https://a0.muscache.com/im/pictures/0b352254-e0df-4d32-b6f8-17f3f7ab350f.jpg?im_w=320"
               alt="" 
               style="height: 20rem "
               class="card image-top">
               <div class="text-overlay">Superhost</div>
              <h5><b>Cabin in Guerneville</b> </h5>
                <p>Fresh + Cozy Cabin with Fireplace</p>
          </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
          <div class="card" id="tpc">
             <img src="https://a0.muscache.com/im/pictures/miso/Hosting-51049716/original/860e7d5b-7191-4c5d-8926-4b3cf45fefc7.jpeg?im_w=320" 
              alt=""
              style="height: 20rem "
              class="card image-top">
              <div class="text-overlay">Superhost</div>
              <h5><b>Cabin in Guerneville</b> </h5>
                <p>
                  Redwood Retreat: Charming Alpine Cabin</p>
          </div>
      </div>
  </div>
</div>