<% layout("/layouts/boilerplate") -%>

 <h2 class="mt-5 mb-5 text-center" >  <b>Paintings and other  artworkare<br>are protected </b>
</h2>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div class="p-3">

        <img src="  https://a0.muscache.com/im/pictures/4f496ce9-ba16-4812-80fd-dc7ea59a922d.jpg"
        height="500px">
        
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
     <h5> <b>One-to-one guidance from a Superhost </b></h5>
    <p>  We’ll match you with a Superhost in your area, 
       who’ll guide you from your first question to your first guest – by phone, video call or chat.</p>
    </div>
    <div class="col">
      <h5><b> An experienced guest for your first booking </b></h5>
      <p>  For your first booking, you can choose to welcome an 
        experienced guest who has at least three stays and a good track record on Airbnb.</p>
    </div>
    <div class="col">
      <h5><b> Specialised support from ACCOMO </b></h5>
      <p>  You’ll need an active Accomo account and the app to participate,
         and be a resident of an eligible country or region. It doesn’t cost anything to submit a request..</p>
    </div>
  </div>
</div>


<div class="container text-center accordion mt-5 accordion-flush mb-5 ">
  <div class="row align-items-start  accordion-item">
    <div class="col mt-5 ">
      <h1 style="font-size: 60px;"> <b> Your questions, <br>answered </b></h1>
          <h5 class="mt-5">
          <b>Can’t find what you’re looking for? <br>
         <a href="#" >Visit our Help Centre.</a></b></h5>
    </div>
    <div class="col">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is AirCover for Hosts?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              AirCover for Hosts is top-to-bottom protection for Hosts. 
              It includes guest identity verification, reservation screening,
               $3m USD Host damage protection, $1m USD Host liability insurance,
                $1m USD Experiences liability 
              insurance and a 24-hour safety line.
          </div>
        </div>
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Is AirCover for Hosts free? ?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              Yes, AirCover for Hosts is included for free every time you host.
          </div>
        </div>
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Where is AirCover for Hosts available?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              AirCover for Hosts’ damage protection and liability insurance are available 
              in every country with Airbnbs, except Japan, which has its own protection programme.

          </div>
        </div>
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              How does AirCover for Hosts work with my personal insurance?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              While AirCover for Hosts protects you while you’re
               hosting an Airbnb stay or Experience, it is not a 
               substitute for personal insurance. You may also be required 
               by law to maintain certain auto insurance, which would not be satisfied by AirCover
                for Hosts. Since everyone’s situation is different, you should talk to your insurer to see how or
               if your policy overlaps with AirCover for Hosts.
          </div>
        </div>
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Do guests get AirCover too?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              Yes. It comes with every booking. If there is a serious issue with the Airbnb that can’t be resolved by the Host,
               we’ll help guests find a similar place or give them a refund.
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Call to Action Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="bg-light rounded p-3">
          <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
              <div class="row g-5 align-items-center">
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                      <img class=" rounded w-100" src="/media/pic.webp" alt="">
                  </div>
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                      <div class="mb-4">
                          <h1 class="mb-3">Still have a question ?</h1>
                          <p>Get answers from an experienced Superhost near you.</p>
                      </div>
                      <a href="" class="btn btn-primary py-3 px-4 me-2">Match with a Superhost</a>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

