<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderlust</title>
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
 integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
</head>
<style>

:root {

--united-nations-blue: hsl(214, 56%, 58%);
--bright-navy-blue: hsl(214, 57%, 51%);
--spanish-gray: hsl(0, 0%, 60%);
--black-coral: hsl(225, 8%, 42%);
--oxford-blue: hsl(208, 97%, 12%);
--yale-blue: hsl(214, 72%, 33%);
--blue-ncs: hsl(197, 100%, 36%);
--gunmetal: hsl(206, 34%, 20%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--onyx: hsl(0, 0%, 25%);
--jet: hsl(0, 0%, 20%);
--red:hsl(0, 89%, 63%);

/**
 * typography
 */

--ff-poppins: "Poppins", sans-serif;
--ff-montserrat: "Montserrat", sans-serif;

--fs-1: calc(20px + 3.5vw);
--fs-2: calc(18px + 1.6vw);
--fs-3: calc(16px + 0.45vw);
--fs-4: 15px;
--fs-5: 14px;
--fs-6: 13px;
--fs-7: 12px;
--fs-8: 11px;

--fw-500: 500;
--fw-600: 600;
--fw-700: 700;
--fw-800: 800;

/**
 * transition
 */

--transition: 0.25s ease-in-out;

/**
 * spacing
 */
--section-padding: 60px;
/**
 * border-radius
 */
--radius-15: 15px;
--radius-25: 25px;

}
/*-----------------------------------*\
* #RESET
\*-----------------------------------*/

*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
li { list-style: none; }
a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }

input,
button {
background: none;
border: none;
font: inherit;
}
button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }
/*-----------------------------------*\
* #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
color: var(--white);
text-transform: uppercase;
font-size: var(--fs-5);
border-radius: 100px;
padding: var(--padding, 8px 18px);
border: var(--border-width, 2px) solid transparent;
transition: var(--transition);
}

.btn-primary {
background: var(--red);
border-color: var(--red);
}

.btn-primary:is(:hover, :focus) {
background: var(--yale-blue);
border-color: var(--yale-blue);
}

.btn-secondary { border-color: var(--white); }

.btn-secondary:is(:hover, :focus) { background: blue; }

.h1,
.h2,
.h3 {
font-weight: var(--fw-800);
font-family: var(--ff-montserrat);
text-transform: uppercase;
}

.h1 {
color: var(--black);
font-size: var(--fs-1);
}

.h2,
.h3 { color: var(--gunmetal); }

.h2 { font-size: var(--fs-2); }

.h3 {
font-size: var(--fs-3);
font-weight: var(--fw-700);
}

.section-subtitle {
color: var(--bright-navy-blue);
font-size: var(--fs-5);
text-transform: uppercase;
font-family: var(--ff-montserrat);
margin-bottom: 8px;
}

.section-title { margin-bottom: 15px; }

.section-text {
color: var(--black-coral);
margin-bottom: 30px;
}



/*Hero */
.hero {
  display: grid;
place-items: center;
height: 300px;
text-align: center;

}
.hero-title { margin-bottom: 10px; }
.hero-text {
color: var(--black);
font-size: var(--fs-5);
margin-bottom: 40px;
}


/*-----------------------------------*\
* #GALLERY
\*-----------------------------------*/

.gallery { padding-block: var(--section-padding); }

.gallery-list {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}

.gallery-image {
width: 100%;
height: 100%;
border-radius: var(--radius-15);
overflow: hidden;
}

.gallery-item:nth-child(3) { grid-area: 1 / 2 / 3 / 3; }

.gallery-image img {
width: 100%;
height: 100%;
object-fit: cover;
}




/**
* responsive for larger than 580px screen
*/

@media (min-width: 580px) {

/**
 * REUSED STYLE
 */

.container {
  max-width: 580px;
  margin-inline: auto;
}

.btn {
  --fs-5: 16px;
  --padding: 12px 30px;
}

section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
  text-align: center;
}
.section-text { margin-bottom: 40px; }

.card-text { --fs-5: 15px; }
}
/**
 * HERO
 */

.hero {
  min-height: 400px;
  padding-top: 0px;
}
.hero-text { --fs-5: 15px; }

.btn-group { gap: 20px; }

/**
* responsive for larger than 768px screen
*/

@media (min-width: 768px) {

/**
 * CUSTOM PROPERTY
 */

:root {

  /**
   * typography
   */

  --fs-5: 15px;

}
/**
 * REUSED STYLE
 */

.container { max-width: 800px; }
.section-text {
  max-width: 60ch;
  margin-inline: auto;
}

/**
 * GALLERY
 */

.gallery { padding-bottom: calc(var(--section-padding * 2)); }

.gallery-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-image { border-radius: var(--radius-25); }
}
/**
* responsive for larger than 992px screen
*/

@media (min-width: 992px) {

.container { max-width: 1050px; }

.hero .container { max-width: 740px; }

}
/**
* responsive for larger than 1200px screen
*/

@media (min-width: 1200px) {
:root {
  --section-padding: 100px;
}
.container { max-width: 1180px; }
}
</style>

  <body>


  <div class="container-fluid nav-bar bg-transparent sticky-top">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
      <div class="icon p-2 me-2">
        <a class="navbar-brand" href="/listings/home"> <i class="fa-solid fa-compass"></i></a>
      </div>
      <div class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Explore</a>
        <div class="dropdown-menu rounded-0 m-0">
          <a href="/listings" class="dropdown-item">Explore Our listings</a>
          <a href="/listings/new" class="dropdown-item">Host Your Home</a>
        </div>
    </div>
  </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/listings" class="nav-item nav-link active">Home</a>
                <a href="/listings/about" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Property</a>
                    <div class="dropdown-menu rounded-0 m-0">
                      <a href="/listings/gallery" class="dropdown-item">Property List</a>
                      <a href="/listings/farmpage" class="dropdown-item">Holidays Rentals</a>
                      <a href="/listings/stay" class="dropdown-item">Host a Place</a>
                    </div>
                </div>
                <a href="/listings/new" class="nav-item nav-link">Accmo your home</a>
        </div>
    </nav>
  </div>

 
      <!-- 
        - #HERO
      -->
      <section class="hero" id="home">
        <div class="container">
          <h2 class="h2 hero-title">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family </h2>
          <p class="hero-text">
            Stay with us in India for a comfortable, homely experience. Our hosting house offers warmth and hospitality.
          </p>
          <div class="btn-group">
           <a href="/listings" ><button class="btn btn-primary" >Host Now</button></a>
            <a href="/signup"><button class="btn btn-secondary"> Book Now </button></a>
          </div>
        </div>
      </section>

      
    
      <div class="row container  mt-5" >
        <h2 class=" h3 ">Holidays Rentals for every Style</h2>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
             <img src="https://a0.muscache.com/im/pictures/a0307076-8eb2-42c0-ba5e-f26219788eb7.jpg?im_w=720&im_format=avif"
                 alt=""
                 style="height: 20rem "
                  class="card image-top">
                  <a href="/listings" ><div class="text-overlay">Superhost</div>
              <h5> <b>Cabin in Monte Rio  </b></h5>
                <p>Mountain and Valley view
                  </p></a>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
              
               <img src="https://a0.muscache.com/im/pictures/miso/Hosting-885171494011814801/original/e233d639-b034-4888-bdb1-72fcd49c459a.jpeg?im_w=720&im_format=avif"
                 alt="" 
                 style="height: 20rem "
                 class="card image-top">
                 <a href="/listings" ><div class="text-overlay">Superhost</div>
                  <h5><b>Cabin in Guerneville</b> </h5>
                  <p>Fresh + Cozy Cabin with Fireplace</p></a>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
               <img src="https://a0.muscache.com/im/pictures/75c5ea1b-eab0-4ec1-8295-cbeb20518fae.jpg?im_w=720&im_format=avif"
                alt=""
                style="height: 20rem "
                class="card image-top">
                <a href="/listings" > <div class="text-overlay">Superhost</div>
                <h5><b>Cabin in Guerneville</b> </h5>
                  <p>
                    Redwood Retreat: Charming Alpine Cabin</p></a>
            </div>
        </div>
    </div>
  </div>


      <div class="container py-5 mt-5 ">
        <div class="container ">
            <h2 class="mb-3"> <b>The comforts of home and great monthly rates</b></h2>
            <p class="text-muted"> Guests agree: these cabins are highly rated for location, cleanliness and more.
            </p>
            <div class="row g-4">
              <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="team-item rounded  overflow-hidden ">
                    <div class="position-relative">
                      <a href="/listings" >
                        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-47380826/original/703ac35b-c19e-47ea-86c1-a348f4b4fad3.jpeg?im_w=720&im_format=avif"
                        class="card-img-top"
                        style="height: 18rem "
                        alt="..."></a>
                        <div class="text-overlay">Guest's favorite</div>
                       <div class="card-body">
                         <h5 class="card-title mt-3 text-dark mb-2">Home in Alexandria</h5>
                         <p class="card-text text-muted">
                          
                          Spacious, 3-level semidetached single-family home with a cozy living room, three bedrooms on the second floor,
                           a large finished
                            we have collected from around...</p></a>
                       </div>
                     </div>
              </div>
          </div>
              <div class="col-lg-3 col-md-6">
                  <div class="team-item rounded  ">
                      <div class="position-relative">
                        <a href="/listings" >
                          <img src="https://a0.muscache.com/im/pictures/miso/Hosting-665015970482989205/original/418f18b6-5dd4-4f5d-b381-97c05acc2035.jpeg?im_w=720&im_format=avif"
                          class="card-img-top"
                          style="height: 18rem "
                          alt="..."></a>
                          <div class="text-overlay">Guest's favorite</div>
                         <div class="card-body">
                           <h5 class="card-title mt-3 text-dark mb-2">Rental unit in Springfield</h5>
                           <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                             Truly a one of kind handmade, solar powered home of local materials filled 
                              we have collected from around the world...</p></a>
                         </div>
                       </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 ">
                <div class="team-item rounded ">
                    <div class="position-relative">
                      <a href="/listings" >
                        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-730313469754035806/original/d7f8790f-690f-499d-860f-d13453da9eee.jpeg?im_w=720&im_format=avif"
                        class="card-img-top"
                        style="height: 18rem "
                        alt="..."></a>
                        <div class="text-overlay">Guest's favorite</div>
                       <div class="card-body">
                         <h5 class="card-title mt-3 text-dark mb-2">Townhouse in Alexandria</h5>
                         <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                           Truly a one of kind handmade, solar powered home of local materials filled 
                            we have collected from around the world...</p></a>
                       </div>
                     </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6">
              <div class="team-item rounded ">
                  <div class="position-relative">
                    <a href="/listings" >
                      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-724529680708654018/original/c583c2e7-7c38-42cd-aede-be8dc85caa8d.jpeg?im_w=720&im_format=avif"
                      class="card-img-top"
                      style="height: 18rem "
                      alt="..."> </a>
                      <div class="text-overlay">Guest's favorite</div>
                     <div class="card-body">
                       <h5 class="card-title mt-3  mb-3">Cottage in old town</h5>
                       <p class="card-text text-muted">Point Reyes Unique Creekside Home with Hot Tub
                         Truly a one of kind handmade, solar powered home of local materials filled 
                          we have collected from around the...</p></a>
                     </div>
                   </div>
            </div>
            </div>
            </div>
        </div>
      </div>
      
   
                        
      <h2 class="mt-5 offset-1 ">  Popular amenities for Benalmádena holiday rentals</h2>
      <div class="container text-center">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
              <div class="p-3 icons rounded" style="border: 2px dashed rgba(0, 185, 142, .3)">
                  <i class="fa-solid fa-kitchen-set"></i>
                  <h4>Kitchen</h4>
                  </div>
            </div>
            <div class="col">
              <div class="p-3 icons rounded" style="border: 2px dashed rgba(0, 185, 142, .3)"><i class="fa-solid fa-wifi"></i>
                  <h4>Wifi</h4>
                  </div>
            </div>
            <div class="col">
              <div class="p-3 icons rounded"style="border: 2px dashed rgba(0, 185, 142, .3)">
                  <i class="fa-solid fa-water-ladder"></i>
                  <h4>Pool</h4>
                 </div>
            </div>
            <div class="col">
              <div class="p-3 icons rounded"style="border: 2px dashed rgba(0, 185, 142, .3)">
                  <i class="fa-brands fa-product-hunt"></i>
                  <h4>Free parking </h4>
                  </div>
            </div>
            <div class="col">
              <div class="p-3 icons rounded" style="border: 2px dashed rgba(0, 185, 142, .3)"><i class="fa-solid fa-wind"></i>
                  <h4> Air conditioning</h4>
                 </div>
            </div>
          
          </div>
        </div>
      <!-- 
        - #GALLERY
      -->
      <section class="gallery" id="gallery">
        <div class="container">
          <p class="section-subtitle">Photo Gallery</p>
          <h2 class="h2 section-title">Photo's From Visitors</h2>
          <p class="section-text">
            Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantium.
            Sit ornare
            mollitia tenetur, aptent.
          </p>
          <ul class="gallery-list">
            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/media/paris.png" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/media/story-3.png" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/media/banner.png" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/media/new-delhi.png" alt="Gallery image">
              </figure>
            </li>

            <li class="gallery-item">
              <figure class="gallery-image">
                <img src="/media/image-s6.png" alt="Gallery image">
              </figure>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </main>
     
  <!-- 
    - #FOOTER
  -->
  <div class="container border-top mt-5   ">
    <div class="row mt-5">
      <h2 class="mb-3"> Inspiration for future getways</h2>
     <hr>
      <div class="col f-info-links">
        <a  href="/listings/stay"> <p> <b> Phoenix </b> <br>
          Flat rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Marbella </b> <br>
          Cottage rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Prescott</b> <br>
         House rentals</a></p>
        <br/>
      </div>
      <div class="col f-info-links"  >
        <a  href="/listings/stay"> <p> <b>Beach </b> <br>
          Flat rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Los Angeles</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Prague</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col  f-info-links  ">
        <a  href="/listings/stay"> <p> <b> Banff </b> <br>
          Chalet rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Greer</b> <br>
         Cabin rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Lake Powel</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col f-info-links   ">
        <a  href="/listings/stay"> <p> <b> Sedona </b> <br>
          Villa rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Pine Mountain</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Island Park</b> <br>
         House rentals</a></p>
        <br />
      </div>
      <div class="col f-info-links   ">
        <a  href="/listings/stay"> <p> <b> Dauphin Island </b> <br>
          Cabin rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Gulf Shores</b> <br>
         Holiday rentals</a></p>
        <br />
        <a  href="/listings/stay"> <p> <b> Hamilton Island</b> <br>
         House rentals</a></p>
        <br />
      </div>
    </div>
  </div>
  <div class="container border-top mt-5   ">
    <div class="row mt-5">
      <div class="col">
         <a href="/listings/home"> <i class="fa-solid fa-compass ms-3 mb-3"></i></a>
        <p>
        <b>  &copy;  2024,  Accomo made by US. All rights reserved.</b>
        </p>
          <div class="f-info-links ">
             <a href="#" ><i class="fa-brands fa-square-facebook ms-3 fs-4 me-1 "></i>
              <i class="fa-brands fa-square-instagram  fs-4 me-1"></i>
              <i class="fa-brands fa-linkedin fs-4 "></i>
            
            </a>
  
          </div>
      </div>
      <div class="col f-info-links"  >
        <p> <b> Company </b></p>
        <a  href="/listings/foterpage">Airbnb your home</a>
        <br />
        <a href="/listings/foterpage" >Newsroom</a>
        <br />
        <a href="/listings/foterpage">Pricing</a>
        <br />
        <a href="/listings/foterpage">Referral programme</a>
        <br />
        <a href="/listings/foterpage">Careers</a>
        <br />
        <a href="/listings/foterpage">Press & media</a>
        <br />
        <a href="/listings/foterpage">Join a free Hosting class</a>
        <br>
      </div>
      <div class="col  f-info-links  ">
        <p> <b>Support </b></p>
        <a href="/listings/foterpage">Help Centre</a>
        <br />
        <a href="/listings/foterpage">AirCover</a>
        <br />
        <a href="/listings/foterpage">Anti-discrimination</a>
        <br />
        <a href="/listings/foterpage">Disability support</a>
        <br />
        <a href="/listings/foterpage">Cancellation options</a>
        
      </div>
      <div class="col f-info-links ">
        <p> <b>Hosting</b></p>
        <a href="/listings/foterpage">Open an account</a>
        <br />
        <a href="/listings/foterpage">Community forum</a>
        <br />
        <a href="/listings/foterpage">Hosting responsibly</a>
        
      </div>
    </div>
  </div>
</div>

  <footer>
    <div class="f-info mt-5">
        <div class="f-info-socials f-info-links">
           <a href="#" ><i class="fa-brands fa-square-facebook"></i></a>
           <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href="#" ><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand"><b> &copy 2024  ACCOMO private Limited Made By  Sonam</b>  </div>
        <div class="f-info-links">
            <a href="/privacy"><b>Privacy </b></a>
        </div>
      </div >
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
