<% layout("/layouts/boilerplate") -%>

        <!-- About Start -->
        <div class="container-xxl py-5">
          <div class="container">
              <div class="row g-5 align-items-center">
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                      <div class="about-img position-relative overflow-hidden p-5 pe-0">
                          <img class="img-fluid w-100" src="/media/house-4.png">
                      </div>
                  </div>
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                      <h1 class="mb-4">#1 Place To Host a  Property</h1>
                      <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                      <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                      <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                      <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                      <a class="btn btn-primary py-3 px-5 mt-3" href="/listings/tranding">Read More</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- About End -->
        <!-- Category Start -->
        <div class="container-xxl py-5">
          <div class="container">
              <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                  <h1 class="mb-3">Property Hosting Types</h1>
                  <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
              </div>
              <div class="row g-4">
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-apartment.png" alt="Icon">
                              </div>
                              <h6>Apartment</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-villa.png" alt="Icon">
                              </div>
                              <h6>Villa</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-house.png" alt="Icon">
                              </div>
                              <h6>Home</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-housing.png" alt="Icon">
                              </div>
                              <h6>Office</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-building.png" alt="Icon">
                              </div>
                              <h6>Building</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-neighborhood.png" alt="Icon">
                              </div>
                              <h6>Townhouse</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-condominium.png" alt="Icon">
                              </div>
                              <h6>Shop</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <a class="cat-item d-block bg-light text-center rounded p-3" href="/listings">
                          <div class="rounded p-4">
                              <div class="icon mb-3">
                                  <img class="img-fluid" src="/media/icon-luxury.png" alt="Icon">
                              </div>
                              <h6>Garage</h6>
                              <span>123 Properties</span>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Category End -->
   <h2 class="sub-title">Tranding places
    <a href="/listings/gallery" class="mx-2" >
      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    </a>
   </h2>

   <div class="stories">
    <div>
      <a href="/listings/testpage"> <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxha2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60">
       <p>Historic Cottage in Charleston</p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1499793983690-e29da59ef1c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjBob3VzZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60">
       <p>Spacious Peaceful Modern Bedroom </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1439066615861-d1af74d74000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFrZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60">
     <p> 30 mins to Oxford Street, Excel London </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1578645510447-e20b4311e3ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGNhbXBpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60">
        <p> London Studio Apartments </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRva3lvfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60">
        <p>Luxury Apartment center of London </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1470165301023-58dab8118cc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGxvZGdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60">
       <p>Luxury Apartment center of London </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1602343168117-bb8ffe3e2e9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dmlsbGF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60">
        <p>Luxury Apartment center of London </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1439066615861-d1af74d74000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFrZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60">
        <p>Lakefront Cabin in United States </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGxha2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60">
       <p>Luxury Apartment center of Hawai </p></a>
    </div>
    <div>
        <a href="/listings/testpage"><img src="https://images.unsplash.com/photo-1587381420270-3e1a5b9e6904?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxvZGdlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60">
     <p>Hills </p></a>
    </div>
   </div>
   
   
<div class="container ">
    <h3 class=" mt-5 mb-3"> Where you'll be</h3>
    <div class="row mb-3 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28985.28902375344!2d84.36083737253254!3d24.755664032603985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398cfc35b57ffe31%3A0xffea2031cb937478!2z4KSU4KSw4KSC4KSX4KS-4KSs4KS-4KSmLCDgpKzgpL_gpLngpL7gpLA!5e0!3m2!1shi!2sin!4v1666072786122!5m2!1shi!2sin"
       style="height: 400px; width: 90%;"class="mb-3"
       allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>