<% layout("/layouts/boilerplate") -%>
<div class="container">
<div class="list-container">
  <div class="left-col">
    <p>200+ Options</p>
    <h1>Recommended Places In San Freancies</h1>
    <div class="house">
      <div class="house-img">
       <a href="/listings"> <img src="/media/image-s6.png"></a>
      </div>
      <div class="house-info">
        <p>Private villa in San Francisco</p>
        <h3>Deluxe Queen Room With Street View</h3>
        <p>1 Bedroom / 1 Bathroom</p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star-half-stroke"></i>
        <i class="fa-regular fa-star-half-stroke"></i>
        <div class="house-price">
          <p>2 Guest</p>
          <p>$ 100/day</p>
        </div>
      </div>
    </div>
  <div class="house">
    <div class="house-img">
     <a href="/listings"> <img src="/media/house-4.png"></a>
    </div>
    <div class="house-info">
      <p>Private villa in San Francisco</p>
      <h3>Deluxe Queen Room With Street View</h3>
      <p>1 Bedroom / 1 Bathroom</p>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star-half-stroke"></i>
      <i class="fa-regular fa-star-half-stroke"></i>
      <div class="house-price">
        <p>2 Guest</p>
        <p>$ 100/day</p>
      </div>
    </div>
  </div>
<div class="house">
  <div class="house-img">
   <a href="/listings"><img src="/media/image-s4.png"></a>
  </div>
  <div class="house-info">
    <p>Private villa in San Francisco</p>
    <h3>Deluxe Queen Room With Street View</h3>
    <p>1 Bedroom / 1 Bathroom</p>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <div class="house-price">
      <p>2 Guest</p>
      <p>$ 100/day</p>
    </div>
  </div>
</div>
<div class="house">
  <div class="house-img">
  <a href="/listings" ><img src="/media/image-s2.png"></a>
  </div>
  <div class="house-info">
    <p>Private villa in San Francisco</p>
    <h3>Deluxe Queen Room With Street View</h3>
    <p>1 Bedroom / 1 Bathroom</p>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <div class="house-price">
      <p>2 Guest</p>
      <p>$ 100/day</p>
    </div>
  </div>
</div>
<div class="house">
  <div class="house-img">
   <a href="/listings"> <img src="/media/image-s1.png"></a>
  </div>
  <div class="house-info">
    <p>Private villa in San Francisco</p>
    <h3>Deluxe Queen Room With Street View</h3>
    <p>1 Bedroom / 1 Bathroom</p>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <div class="house-price">
      <p>2 Guest</p>
      <p>$ 100/day</p>
  </div>
</div>
</div>
<div class="house">
  <div class="house-img">
   <a href="/listings"> <img src="/media/image-s3.png"></a>
  </div>
  <div class="house-info">
    <p>Private villa in San Francisco</p>
    <h3>Deluxe Queen Room With Street View</h3>
    <p>1 Bedroom / 1 Bathroom</p>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <i class="fa-regular fa-star-half-stroke"></i>
    <div class="house-price">
      <p>2 Guest</p>
      <p>$ 100/day</p>
  </div>
</div>
</div>
  </div>
  <div class="right-col">
     <div class="sidebar">
      <h2> Search Filter</h2>
      <h4>Property Type</h4>
      <div class="checkbox">
        <input type="checkbox"><p>House</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Hostel</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Flat</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Guest Suitable</p>
        <span>0</span>
      </div>
      <h4>Amenities</h4>
      <div class="checkbox">
        <input type="checkbox"><p>Guest Suitable</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Villa</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Wifi</p>
        <span>0</span>
      </div>
      <div class="checkbox">
        <input type="checkbox"><p>Air Conditionar</p>
        <span>0</span>
      </div>
      <div class="sidebar-link">
        <a href="/listings" >View More</a>
      </div>
     </div>
  </div>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">2</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>



