<% layout("/layouts/boilerplate") -%>

<div class="mt-5 mb-3">
 <h3> <b>Barbie’s Malibu DreamHouse, Ken’s way </b></h3>
</div>
<div class="gall">
  <div class="img1">
    <img src="/media/image-s2.png">
  </div>
  <div><img src="/media/tent.webp"></div>
  <div ><img src="/media/image-s6.png"></div>
  <div ><img src="/media/image-s3.png"></div>
  <div><img src="/media/image-s4.png"></div>
 </div>
 <div class="small-detail">
   <h2>Entire rental unit hosted by Brandon </h2>
   <p> <b>4 guests2&nbsp;&nbsp; bedrooms2&nbsp;&nbsp; beds1&nbsp;&nbsp; bathroom </b></p>
 </div>
 </div>

 <div class="container border-top mt-5 ">
  <div class="row mt-5">
    <div class="col f-info-links">
      <h5><i class="fa-solid fa-cart-flatbed"></i>&nbsp;&nbsp;
         Gather at the pub and stay over
        </h5>
      <p style="margin-left: 30px;"> Chat about AFC Richmond until the wee hours and sleep in after.</p>
      <br />
      <h5><i class="fa-solid fa-shirt"></i>&nbsp;&nbsp;
         Wear your AFC Richmond pride and cheer them on</h5>
      <p style="margin-left: 30px;"> We’re Richmond ‘til we die (in official kit!)</p>
      <br />
      <h5> <i class="fa-solid fa-trophy"></i>&nbsp;&nbsp;
          Play darts or channel Coach Beard over chess</h5>
      <p style="margin-left: 30px;"> If you beat the high score, next round’s on me at Ted’s table.</p>
      <br/>
      <h5><i class="fa-solid fa-music"></i>&nbsp;&nbsp;
        Sing karaoke and enjoy a nice hot cuppa</h5>
      <p style="margin-left: 30px;"> Do well and you might earn a biscuit or two.</p>
    </div>
  </div>
</div>
<hr>

    <div class="row container offset-1 mt-5" >
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="https://a0.muscache.com/im/pictures/airflow/Hosting-626319499903889063/original/9d53d9c8-789c-4276-81ba-e31e8906cde3.jpg?im_w=320"
                 alt="" class="card image-top">
                <div class="card-img-overlay">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <h5><b>Cabin in Guerneville</b> </h5>
                <p>Fresh + Cozy Cabin with Fireplace</p>
            </div>
            <a href="/listings/testpage"><button  class="btn btn-outline-dark"> View  More  </button></a>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="https://a0.muscache.com/im/pictures/miso/Hosting-939939187755523126/original/bd37a508-2d01-4785-828e-2e0098d361ba.jpeg?im_w=320"
                 alt="" class="card image-top">
                <div class="card-img-overlay">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <h5><b>Cabin in Guerneville</b> </h5>
                <p>Fresh + Cozy Cabin with Fireplace</p>
                
            </div>
            <a href="/listings/testpage"><button  class="btn btn-outline-dark"> View  More  </button></a>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="https://a0.muscache.com/im/pictures/71a59800-c2a5-42a1-a03f-59467d17615b.jpg?im_w=320" 
                alt="" class="card image-top">
                <div class="card-img-overlay">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <h5><b>Cabin in Guerneville</b> </h5>
                <p>Fresh + Cozy Cabin with Fireplace</p>
            </div>
            <a href="/listings/iconPage"><button  class="btn btn-outline-dark"> View  More  </button></a>
        </div>
    </div>
  </div>
 
  <div class="container offset-1">
    <h3 class=" mt-5 mb-3"> Where you'll be</h3>
    <div class="row mb-3 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28985.28902375344!2d84.36083737253254!3d24.755664032603985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398cfc35b57ffe31%3A0xffea2031cb937478!2z4KSU4KSw4KSC4KSX4KS-4KSs4KS-4KSmLCDgpKzgpL_gpLngpL7gpLA!5e0!3m2!1shi!2sin!4v1666072786122!5m2!1shi!2sin"
       style="height: 400px; width: 90%;"class="mb-3"
       allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>